*,
*::after,
*::before{
    padding: auto;
    margin: auto;
    background-color: #FFF2D8;
    color: #113946;
}



.container{
    font-size: 25px;
    margin-top: 20vh;
    
}

button{
    padding: 10px;
    background-color: #EAD7BB;
    border-radius: 10px;
    margin: 1px;
}

button:hover{
    font-size: 60%;
    padding: 10px;
    text-decoration: underline ;
    font-style: italic;
    color:#19586d;
}

.Spaceb{
    width:200px;
}

.row1,.row2,.row3,.row4,.row5,.row6{
    display: flex;
    justify-content: center;
}